<h2>Admin Login</h2>
<form method="post">
    <input class="form-control mb-2" placeholder="Email" />
    <input class="form-control mb-2" placeholder="Password" type="password" />
    <button class="btn btn-dark">Login</button>
</form>
